// Gray scale
$white: #fff;
$black: #000;

$soft: #f8f8f8;
$concrete: #f3f3f3;
$alabaster: #f2f2f2;
$gallery: #ededed;
$mercury: #e3e3e3;
$alto : #d2d2d2;
$geyser: #dee2e6;
$french-gray: #ccccd0;
$silver: #c7c7c7;
$light-gray: #B5B5B5;
$silver-chalice: #adadad;
$dusty-gray: #9c9c9c;
$manatee: #9a9ba1;
$gray: #939393;
$dove-gray: #666;
$scorpion: #606060;
$emperor: #545454;
$river-bed: #495559;
$tundora: #444;
$bright-gray: #353847;
$mine-shaft: #333;