{% extends "base.html" %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
	<h1>{{ object.title }}</h1>

	<p>Views: {{ object.views }}</p>
	<div id="like_count">{{ likes }}</div>

	{% if user.is_authenticated %}
		<button id="likes" class="btn {% if liked_by_user %}btn-danger{% endif %}" data-cocktail-id="{{ object.id }}" data-cocktail-liked="{{ liked_by_user }}">
			<i class="fa fa-heart"></i>
		</button>
	{% endif %}

	<h2>Spirits</h2>

	<ul>
		{% for ingredient in spirits %}
			<li>{{ ingredient }} of <a href="{% url 'spirit_detail' ingredient.spirit.slug %}">{{ ingredient.spirit }}</a>. <a href="{% url 'ingredient_delete' object.slug ingredient.id %}">x</a></li>
	    {% endfor %}
	</ul>

	<h2>Mixers</h2>

	<ul>
		{% for ingredient in mixers %}
			<li>{{ ingredient }} of <a href="{% url 'mixer_detail' ingredient.mixer.slug %}">{{ ingredient.mixer }}</a>. <a href="{% url 'ingredient_delete' object.slug ingredient.id %}">x</a></li>
	    {% endfor %}
	</ul>

	<h2>Description</h2>
	<p>{{ object.description|default:"No description" }}</p>

	<p><a href="{% url 'cocktail_update' object.slug %}">Edit description</a></p>

	<p><a href="{% url 'ingredient_create' object.slug 'spirit' %}">Add Spirit</a></p>
	<p><a href="{% url 'ingredient_create' object.slug 'mixer' %}">Add Mixer</a></p>

	{# <p><a href="{% url 'mixeringredient_create' object.slug %}">Add Mixer</a></p> #}

	<p><a href="{% url 'cocktail_list' %}">Back to cocktail list</a></p>
{% endblock %}
