{% extends "base.html" %}

{% block title %}Cocktails{% endblock %}



{% block content %}
	<h1>Cocktails</h1>

	{% include "cocktails/_cocktail_search.html" %}

	{% if cocktail_list %}
		<ul>
			{% for cocktail in cocktail_list %}
				<li><a href="{% url 'cocktail_detail' cocktail.slug %}">{{ cocktail }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no cocktails in the database.</p>
	{% endif %}

    {% if user.is_authenticated %}
	   <a href="{% url 'cocktail_create' %}" class="btn btn-primary">Add new</a>
	{% else %}
		<p><a href="{% url 'users.register' %}">Register</a> or <a href="{% url 'users.login' %}?next={{ request.path }}">Login</a> to add new cocktails.</p>
    {% endif %}
{% endblock %}